<head>
	<title>File SV example</title>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
	<div class="w3-container w3-teal">
		<h1>Example endpoints</h1>
	</div>

	<div class="w3-container">
		<p>See the 
			<a href="https://gitlab.com/samuel-garratt/file_sv/-/wikis/Practice-using-File-sv">wiki</a> 
			for examples on how to interact with this</p>
		<ul class="w3-ul">
			<% SvPlan.endpoints.keys.each do |endpoint| %>
			<li>
				<a href="<%= endpoint %>"><%= endpoint %></a>
			</li>
			<% end %>
		</ul>
		<p>
			Basic raw documentation of the responses for each endpoint file_sv endpoints is served at a <a href="/docs">docs</a> endpoint.
		</p>
	</div>
</body>